.createUser {
  width: 100%;
  position: relative;
  margin-top: 5rem;
}
.selectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background: linear-gradient(#000000, #000000) padding-box,
  linear-gradient(145deg, transparent 35%, #f33716, orange) border-box;
border: 2px solid transparent;
padding: 32px 24px;
font-size: 14px;
box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 45%;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.form-group input {
  width: 90%;
  padding: 10px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  margin: auto;
  text-align: center;
  text-transform: none !important;
}

.formCAdmin .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 95%;
  background: transparent;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: auto;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 95%;
  background: transparent;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: auto;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-submit-btn:hover {
  background-color: #f33716;
  border-color: #f33716;
  color: #fff;
}
.form-submit-btn:hover {
  background-color: #f33716;
  border-color: #f33716;
  color: #fff;
}

.selectContainer p {
  color: #605c2c;
  width: fit-content;
  text-transform: uppercase;
  font-size: small;
}
.employeeT {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  position: absolute;
  left: -17px;
  top: -4rem;
  flex-direction: row;
  flex-wrap: nowrap;
}
.employeeT span {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background-color: #f33716;
}
.employeeT h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: lighter;
  color: aliceblue;
  /* font-size: 35px; */
}

.form-group {
  width: 15rem;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.form-group input {
  width: 90%;
  padding: 10px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}
.form-group input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
  cursor: pointer;
}
.form-group input::placeholder,
.form-group input::placeholder {
  opacity: 0.5;
}
.form-group input::placeholder {
  color: #717171;
}

.form-group input:focus,
.form-group input:hover {
  outline: none;
  border-color: #f33716;
}
