.createUser {
  width: 100%;
  position: relative;
  margin-top: 5rem;
}
.selectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background: linear-gradient(#000000, #000000) padding-box,
  linear-gradient(145deg, transparent 35%, #f33716, orange) border-box;
border: 2px solid transparent;
padding: 32px 24px;
font-size: 14px;
box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  align-items: flex-start;
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 45%;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.form-group input {
  width: 90%;
  padding: 10px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  margin: auto;
  text-align: center;
  text-transform: none !important;
}

.formCAdmin .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 95%;
  background: transparent;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: auto;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 95%;
  background: transparent;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: auto;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-submit-btn:hover {
  background-color: #f33716;
  border-color: #f33716;
  color: #fff;
}
.form-submit-btn:hover {
  background-color: #f33716;
  border-color: #f33716;
  color: #fff;
}

.selectContainer p {
  color: #605c2c;
  width: fit-content;
  text-transform: uppercase;
  font-size: small;
}
.employeeT {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  position: absolute;
  left: -17px;
  top: -4rem;
  flex-direction: row;
  flex-wrap: nowrap;
}
.employeeT span {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background-color: #f33716;
}
.employeeT h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: lighter;
  color: aliceblue;
  /* font-size: 35px; */
}

.form-group {
  width: 15rem;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.form-group input {
  width: 90%;
  padding: 10px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}
.form-group input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
  cursor: pointer;
}
.form-group input::placeholder,
.form-group input::placeholder {
  opacity: 0.5;
}
.form-group input::placeholder {
  color: #717171;
}

.form-group input:focus,
.form-group input:hover{
  outline: none;
  border-color: #f33716;
}
.gen{
    cursor: pointer;
    color: #717171 !important;
}
.gen:hover,
.gen:focus{
    background-color: #f33716;
    color: #fff !important;
}




.card {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe1f, -20px -20px 60px #ffffff0c;
  cursor: pointer;
}
.card:hover {
transform: scale(1.1);
}
.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 190px;
  height: 240px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid transparent;
}

.blob {
  position: absolute;
  z-index: -2;
  top: 0%;
  left: 0%;
  width: 100px;
  height: 1000px;
  border-radius: 50%;
  background-color: #f33716;
  opacity: 1;
  filter: blur(12px);
  /* animation: blob-bounce 5s infinite; */
}
.detailsC h4{
  color: #717171;
  text-transform: uppercase;
}
.detailsC h3{
  color: #fff;
  text-transform: uppercase;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  /* 25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  } */

  100% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }
/* 
  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  } */
/* 
  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  } */
}


.createUserShow{
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* gap: 1rem; */
  width: 100%;
  justify-content: center;
}
.containerCard{
  width: 90%;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.deleteTraining{
  opacity: 0.5;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
}
.deleteTraining:hover{
  color: red;
  opacity: 1;
  transform: scale(1.1);
}

.editDelete{
  position: fixed;
  z-index: 22222;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.noteS, .accountS{
  color: #f1c07e;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 1rem;
}
.accountS{
  color: #ffffff;
}
.accountS span{
  color: #f33716;
}