.headerD {
  margin-top: 2rem;
  width: 100%;
  background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(145deg, transparent 35%, #f33716, orange) border-box;
  border: 2px solid transparent;
  padding:24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    align-items: center;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.inputHi{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.inputH, .inputHs{
    display: flex;
    gap: 1rem;
}
.inputHs{
  /* justify-content: center; */
  gap: 10px;
}
.wraperD{
  display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.inputHs h5{
  text-transform: uppercase;
  color: #717171;
}
.form-group{
  width: 15rem;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.form-group input {
  width: 90%;
  padding: 10px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}
.form-group input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
  cursor: pointer;
}
.form-group input::placeholder,
.form-group input::placeholder {
  opacity: 0.5;
}
.form-group input::placeholder {
  color: #717171;
}

.form-group input:focus,
.form-group input:hover {
  outline: none;
  border-color: #f33716;
}

.chartHolder{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 4rem 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.chart, .charttt{
  width: 45vw;
  height: 20rem;
  background: linear-gradient(#000000, #000000) padding-box,
  linear-gradient(145deg, transparent 35%, #b7d1cf, #929D96) border-box;
border: 2px solid transparent;
  padding: 10px;
  padding-bottom: 5rem;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
}
.charttt{
  width: 80vw;
}