.form-container {
  width: 95%;
  height: 95%;
  background: linear-gradient(#000000, #0c0c0c) padding-box,
    linear-gradient(140deg, transparent 35%, #f33716, orange) border-box;
  border: 4px solid transparent;
  /* padding: 32px 24px; */
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
  position: fixed;
  z-index: 11111;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.logo {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
.employeeT {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  position: absolute;
  left: -15px;
  top: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.employeeT span {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background-color: #f33716;
}
.employeeT h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: lighter;
  /* font-size: 35px; */
}
.infoC {
  width: 100%;
  height: 90%;
  margin: auto 0;
  display: flex;
}

.perInfo,
.trainingInfo {
  height: 100%;
}
.perInfo {
  width: 20%;
  border-right: 2px solid #b7d1cf;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.trainingInfo {
  width: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.trainingInfo::-webkit-scrollbar {
  width: 10px;
  background-color: #535151;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.trainingInfo::-webkit-scrollbar-thumb {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}
.wrapData {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  border-bottom: 1px solid #b7d1cf;
}
.wrapData h3 {
  color: #f33716;
  text-transform: uppercase;
}
.wrapData span {
  text-transform: uppercase;
  font-weight: bold;
  /* font-weight: lighter; */
  font-size: 20px;
}
