.trainingH{
    display: flex;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
}
.trainingH:hover{
    transform: scaleY(1.04);
    box-shadow: 1px 1px 20px 3370px #00000080;
}

.trainingD, .trainingDi{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 1rem;
    align-items: flex-start;
}
.trainingDi{
    background-color: #929D96;
}

.trainingDi .dataT span{
    color: #f84018;
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium;
}
.trainingDi .dataT h3{
    /* color: #f84018; */
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium;
}
.trainingD .dataT h3{
    color: #f84018;
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium;
}
.trainingD .dataT span{
    /* color: #f84018; */
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium;
}