.formCAdmin {
    width: 45rem;
    background: linear-gradient(#000000, #000000) padding-box, linear-gradient(136deg, transparent 35%, #f33716, orange) border-box;
    border: 2px solid transparent;
    padding: 24px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    align-items: flex-start;
    margin: 2rem auto;
    position: sticky;
    z-index: 22222;
    top:10px;
  }
  .formCAdmin p{
      color: #f1c07e;
      text-transform: capitalize;
      margin: 0;
  }
  .formCAdmin .title {
      margin: 0;
      color: #717171;
      text-transform: uppercase;
    }
    .formCAdmin .title span{
      color: #f33716;
      border-bottom: 3px solid;
    }
  
  
  @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
    
      50% {
        background-position: 100% 50%;
      }
    
      100% {
        background-position: 0% 50%;
      }
    }
   
  .formCAdmin .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .formCAdmin .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 95%;
  }
  .formCAdmin .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
  }
  .formCAdmin .form-group input {
    width: 90%;
    padding: 10px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
  }
  .formCAdmin .form-group input[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(0.5);
      cursor: pointer;
    }
  .form-container .form-group input::placeholder,
  .formCAdmin .form-group input::placeholder {
    opacity: 0.5;
  }
  .formCAdmin .form-group input::placeholder {
    color: #717171;
  }
  
  .formCAdmin .form-group input:focus,
  .formCAdmin .form-group input:hover {
    outline: none;
    border-color: #f33716;
  }
  
  /* .form-container .form-group textarea:focus {
      outline: none;
      border-color: #f33716;
    } */
  
  .formCAdmin .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 95%;
    background: transparent;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: auto;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .formCAdmin .form-submit-btn:hover {
    background-color: #f33716;
    border-color: #f33716;
    color: #fff;
  }
  
  
  .deleteTraining{
      opacity: 0.5;
      width: fit-content;
      margin: 0 auto;
      cursor: pointer;
      text-transform: uppercase;
  }
  .deleteTraining:hover{
      color: red;
      opacity: 1;
      transform: scale(1.1);
  }

  .notFound{
    width: 100%;
  }
  .notFound h1{
    color: #fefefe;
    text-transform: uppercase;
    width: -moz-fit-content;
    width: fit-content;
    left: 8vw;
    position: absolute;
    bottom: 22vh;
    font-size: 5rem;
    z-index: 11;
    margin: 0;

  }
  .notFound img{
    position: absolute;
    right: 0;
    top: 12rem;
    width: 44rem;
  }

  .orderHolder{
    position: relative;
  }
  .orderActions{
    position: absolute;
    top: -3rem;
    left: 2rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .orderActions button{
    color: #717171;
    font-weight: 600;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 4px 10px;
    font-size: inherit;
    cursor: pointer;
    /* border-radius: 6px; */
    text-transform: uppercase;

  }

  .orderActions button:hover {
    color: #fff;
    border-color: #f33716;
    transform: scale(1.1);
  }
  
  .deleteAct:hover{
    color: red !important;
    border-color: red !important;
  }
.checkboxInput {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
  }
  
  .checkboxInput:checked {
    background-color: #f84018;
    border-color: #f84018;
  }
  

  .holy{
    display: flex;
    align-items: center
  }